*.swp
*.aux
*.out
*.log
*.tex~
*.svn
.svn
*.tmp
*.o
*.hi
*.config
.cabal-sandbox
bin
.idea
.metadata
.recommenders
zusammenfassung.pdf




# out file only required once
thesis/out

# Latex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.loa
*.lot
*.out
*.toc

.ipynb*
